HR_Mail_Bot.json
{
  "name": "HR Mail Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3247aedb-4a22-441a-8022-0048acbd7eec",
        "options": {
          "binaryPropertyName": "Subhrajyoti_Mahanta_resume"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "77fcdb01-3c0a-4416-ae34-cae5622d6518",
      "name": "Webhook",
      "webhookId": "3247aedb-4a22-441a-8022-0048acbd7eec"
    },
    {
      "parameters": {
        "jsCode": "// Log input for debugging\nconsole.log(\"Input items:\", items);\n\n// Access the companies JSON text from the body (key is an empty string)\nconst companiesText = items[0].json.body[\"\"];\n\n// Parse the JSON string to get the companies object\nlet companiesData;\ntry {\n  companiesData = JSON.parse(companiesText);\n} catch (error) {\n  throw new Error(\"Failed to parse companies JSON: \" + error.message);\n}\n\n// Validate that companiesData.companies exists and is an array\nif (!companiesData.companies || !Array.isArray(companiesData.companies)) {\n  throw new Error(\"Expected companiesData.companies to be an array.\");\n}\n\n// Retrieve the resume file from the binary property\nconst resumeFile = items[0].binary.Subhrajyoti_Mahanta_resume0;\n\n// Define the email template with placeholders\nconst emailTemplate = `\nDear Hiring Team at {{company}},\n\nI hope this email finds you well. I am writing to express my interest in the Data Analyst position at {{company}} ({{office}} office). With hands-on experience in data analysis, visualization, and statistical modeling, I am confident that my expertise aligns well with the role.\n\nCurrently, I am working with DST-SERB, Govt. of India at IIEST, Shipbur under Dr. Anuj Kishor Budhkar. In this role, I designed a 6-LIDAR sensor assembly integrated with Vbox data using OpenCV, achieving precise intra-vehicular gap measurements (±2 cm accuracy). Additionally, I optimized raw sensor data and conducted comprehensive data visualization using Tableau, analyzing the impact of electric vehicles (EVs) in real-world traffic scenarios.\n\nPreviously, at IIT Guwahati as a Lidar Data Analyst, I cleaned and analyzed over 100 GB of traffic data collected via LIDAR and image processing tools. I also calibrated LIDAR data, achieving a 90% accuracy rate in lateral vehicle velocity computation.\n\nSome of my key projects include:\n- *GoodCabs Performance Analysis:* Developed an interactive Power BI dashboard analyzing 500,000+ trips, leading to strategic revenue insights.\n- *Data Analyst Job Market Insights:* Analyzed 10,000+ job postings, revealing key salary trends and in-demand skills.\n- *SQL-Based Market Expansion Analysis:* Conducted SQL-driven analysis of 100,000+ records to determine optimal expansion cities for a coffee chain, improving decision-making efficiency by 30%.\n\nMy expertise spans SQL, Python, R, PostgreSQL, Power BI, MS Excel, Tableau, Pandas, and NumPy, backed by certifications in SQL, Python, and Excel for Data Analytics.\n\nI have attached my resume for your review. I welcome the opportunity to discuss how my skills and experience can contribute to {{company}}. Please feel free to reach out at your convenience.\n\nBest Regards,  \nSubhrajyoti Mahanta  \n[Your Contact Information]\n`;\n\n// Process each company and create an output item with the modified email body and attached resume\nconst outputItems = companiesData.companies.map(companyItem => {\n  return {\n    json: {\n      company: companyItem.company,\n      office: companyItem.office,\n      email: companyItem.email,\n      emailBody: emailTemplate\n                   .replace(/{{company}}/g, companyItem.company)\n                   .replace(/{{office}}/g, companyItem.office)\n    },\n    binary: {\n      Subhrajyoti_Mahanta_resume0: resumeFile // Ensure the resume file is included in the output\n    }\n  };\n});\n\n// Log output for debugging\nconsole.log(\"Output items:\", outputItems);\n\nreturn outputItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -160
      ],
      "id": "41634b67-731f-473a-a6ea-692844d042b0",
      "name": "Code",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "={{$json.email}}",
        "subject": "=Application for Data Analyst at {{$json.company}}",
        "emailType": "text",
        "message": "={{$json.emailBody}}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=Subhrajyoti_Mahanta_resume0"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        600,
        0
      ],
      "id": "6bd2e9ff-26c5-412f-b0c7-e0467716d48f",
      "name": "Gmail",
      "webhookId": "2d768f96-0620-471f-9545-8d8497c2ea28",
      "credentials": {
        "gmailOAuth2": {
          "id": "RAJ0PZx8H67byDxV",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "errorWorkflow": "ytwncPvBiEg4Iseb"
  },
  "versionId": "0b0cd0fd-bd7d-4ae9-844c-d21fae4e54da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95ab9d723410f6f6719409f1a5ef992388e0211a9ee923800b5b7a33cdd09c3c"
  },
  "id": "ytwncPvBiEg4Iseb",
  "tags": []
}